vars.env
*.swp
dist

# Build folder and package
convention-portal
convention-portal.tar.gz

# Custom offline image override
custom-offline.jpg

# Downloaded during installation
rnnoise-models
model.rnnn

