[Unit]
Description=Media Ingest Service
DefaultDependencies=no
After=multi-user.target network-online.target pulseaudio.service
Wants=network-online.target pulseaudio.service


[Service]
Type=simple
ExecStart=/opt/portal/ingester.sh
EnvironmentFile=/opt/portal/vars.env
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target