[Unit]
Description=Media Ingest Service
DefaultDependencies=no
After=multi-user.target network-online.target pulseaudio.service
Wants=network-online.target pulseaudio.service


[Service]
Type=simple
ExecStart=/media/system/ingester.sh
EnvironmentFile=/media/system/vars.env
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target