[Unit]
Description=Auto-Update Scripts on USB mount
Requires=media-portal.mount
After=media-portal.mount

[Service]
Type=oneshot
ExecStart=/opt/portal/update.sh

[Install]
WantedBy=media-portal.mount