[Unit]
Description=PulseAudio system server
DefaultDependencies=no
After=multi-user.target
Wants=multi-user.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=notify
ExecStart=pulseaudio --daemonize=no --system --realtime --log-target=journal

[Install]
WantedBy=multi-user.target