[Unit]
Description=PulseAudio Echo-Cancel Sink Monitor
DefaultDependencies=no
After=multi-user.target pulseaudio.service
Wants=pulseaudio.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=simple
ExecStart=/opt/portal/sink-monitor.sh
Restart=always
RestartSec=5s
TimeoutStopSec=1
KillMode=mixed

[Install]
WantedBy=multi-user.target
