OUTPUT_SOURCE_VIDEO_DEV=/dev/video0
OUTPUT_SOURCE_VIDEO_TYPE=v4l2
OUTPUT_SOURCE_VIDEO_RES=1280x720
OUTPUT_SOURCE_VIDEO_RATE=30
OUTPUT_SOURCE_AUDIO_DEV=DETECT
OUTPUT_SOURCE_AUDIO_TYPE=pulse
OUTPUT_SOURCE_AUDIO_CHANNELS=1
OUTPUT_SOURCE_AUDIO_RATE=44100
OUTPUT_DEST_VIDEO_CODEC=libx264
OUTPUT_DEST_AUDIO_CODEC=aac
OUTPUT_DEST_VIDEO_BITRATE=3M
OUTPUT_DEST_AUDIO_BITRATE=128k
OUTPUT_DEST_FORMAT=flv
OUTPUT_DEST_PRESET=veryfast
OUTPUT_DEST_TUNE=zerolatency
OUTPUT_DEST=rtmp://example.com/live/keyhere
OUTPUT_EXTRA_ARGS=
OUTPUT_LOGLEVEL=warning
OUTPUT_LOGFILE=/root/encode.log


INPUT_SOURCE=rtmp://example.com/live
INPUT_LOGLEVEL=warning
INPUT_LOGFILE=/root/ingest.log
